<form autocomplete="off" #createProductTestForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "CreateProductTest" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>{{ "ProductName" | localize }}</mat-label>
          <mat-select [(ngModel)]="productTest.product" name="ProductName" required>
            <mat-option *ngFor="let product of products" [value]="product">
              {{ product.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "TestName" | localize }}</mat-label>
          <mat-select [(ngModel)]="productTest.test" name="TestName" required>
            <mat-option *ngFor="let test of tests" [value]="test">
              {{ test.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!createProductTestForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
