<form autocomplete="off" #createProductControlForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "CreateProductControl" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>{{ "ProductName" | localize }}</mat-label>
          <mat-select
            [(ngModel)]="productControl.product"
            name="ProductName"
            required
          >
            <mat-option *ngFor="let product of products" [value]="product">
              {{ product.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput type="number"
            name="ProductControlAmount"
            [placeholder]="'ProductControlAmount' | localize"
            [(ngModel)]="productControl.amount"
            required
          />
        </mat-form-field>

        <mat-checkbox  name="ProductControlSeeded" [(ngModel)]="productControl.seeded">{{
          "ProductControlSeeded" | localize
        }}</mat-checkbox>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!createProductControlForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
