<div class="row clearfix" [@routerTransition]>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card main-content">
      <div class="header">
        <h2>{{ "Products" | localize }}</h2>
        <ul class="header-dropdown m-r--5">
          <li>
            <button
              mat-icon-button
              [matMenuTriggerFor]="headerMenu"
              class="header-dropdown-mat-icon-button"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #headerMenu="matMenu">
              <button mat-menu-item (click)="refreshDataGrid()">
                <mat-icon>refresh</mat-icon>
                <span>{{ "Refresh" | localize }}</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
      <div class="body table-responsive">
        <dx-data-grid
          #grid
          id="gridContainer"
          [dataSource]="dataSource"
          keyExpr="id"
          [hoverStateEnabled]="true"
          [selectedRowKeys]="[]"
          [showBorders]="true"
          [allowColumnReordering]="true"
          [allowColumnResizing]="true"
          [columnHidingEnabled]="true"
          [columnAutoWidth]="true"
          style="min-height: 400px !important; height: 400px !important;"
          (onToolbarPreparing)="onToolbarPreparing($event)"
          (onOptionChanged)="onOptionChanged($event)"
        >
          <!-- Toolbar Customization -->
          <!-- <div *dxTemplate="let data of 'formNameTemplate'">
                      <h4>{{ "Products" | localize }}</h4>
                  </div> -->
          <!-- <div *dxTemplate="let data of 'refreshButtonTemplate'">
                      <dx-button icon="refresh" type="normal" hint="{{ 'Refresh' | localize }}"
                               (onClick)="refreshDataGrid()">
                      </dx-button>
                  </div> -->
          <!-- columns -->
          <dxi-column
            dataField="id"
            caption="{{ 'Id' | localize }}"
            alignment="left"
          ></dxi-column>
          <dxi-column
            dataField="name"
            caption="{{ 'ProductName' | localize }}"
            alignment="center"
          ></dxi-column>
          <dxi-column
            type="buttons"
            [width]="110"
            caption="{{ 'Actions' | localize }}"
            alignment="center"
          >
            <dxi-button template="editButtonTemplate">
              <div *dxTemplate="let editData of 'editButtonTemplate'">
                <!-- <button mat-menu-item (click)="editDepartment(editData.data.id)">
                                  <mat-icon>edit</mat-icon>
                              </button> -->
                <!-- <dx-button
                  icon="edit"
                  type="default"
                  hint="{{ 'Edit' | localize }}"
                  (onClick)="editProduct(editData.data.id)"
                >
                </dx-button>
                &nbsp;
                <dx-button
                  icon="trash"
                  type="danger"
                  hint="{{ 'Delete' | localize }}"
                  (onClick)="deleteProduct(editData.data)"
                >
                </dx-button> -->
                <button mat-mini-fab color="primary"  (click)="editProduct(editData.data.id)">
                  <mat-icon>edit</mat-icon>
                </button>
                &nbsp;
             
                <button mat-mini-fab color="warn"  (click)="deleteProduct(editData.data)">
                  <mat-icon>delete</mat-icon>
                </button>
                <!-- <i (click)="editDepartment(editData.data.id)" class="material-icons">edit</i> -->
              </div>
            </dxi-button>
          </dxi-column>
          <!-- <dxo-column-chooser [enabled]="true" title="{{ 'ColumnChooser' | localize }}"  mode="select"></dxo-column-chooser> -->
          <dxo-column-chooser
            [enabled]="true"
            title="{{ 'ColumnChooser' | localize }}"
          ></dxo-column-chooser>
          <dxo-load-panel [enabled]="true"></dxo-load-panel>
          <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

          <!-- sorting-->
          <dxo-sorting mode="multiple"></dxo-sorting>

          <!-- paging -->
          <dxo-paging [pageSize]="5"></dxo-paging>
                  <dxo-pager [showPageSizeSelector]="true" 
                  [allowedPageSizes]="[5, 10, 20]" 
                  [showInfo]="true">
                  </dxo-pager>

          <!-- Export Settings-->
          <dxo-export
            [enabled]="true"
            fileName="Products"
            [allowExportSelectedData]="true"
          >
            <dxo-texts
              exportAll="{{ 'ExportAllData' | localize }}"
              exportSelectedRows="{{ 'ExportSelectedRows' | localize }}"
              exportTo="{{ 'Export' | localize }}"
            >
            </dxo-texts>
          </dxo-export>
          <!-- Selection-->
          <dxo-selection mode="multiple"></dxo-selection>
          <!-- Filtering-->
          <dxo-filter-row
            [visible]="true"
            resetOperationText="{{ 'ResetOperationText' | localize }}"
          >
            <dxo-operation-descriptions
              between="{{ 'Between' | localize }}"
              contains="{{ 'Contains' | localize }}"
              endsWith="{{ 'EndsWith' | localize }}"
              equal="{{ 'Equal' | localize }}"
              greaterThan="{{ 'GreaterThan' | localize }}"
              greaterThanOrEqual="{{ 'greaterThanOrEqual' | localize }}"
              lessThan="{{ 'LessThan' | localize }}"
              lessThanOrEqual="{{ 'LessThanOrEqual' | localize }}"
              notContains="{{ 'NotContains' | localize }}"
              notEqual="{{ 'NotEqual' | localize }}"
              startsWith="{{ 'StartsWith' | localize }}"
            >
            </dxo-operation-descriptions>
          </dxo-filter-row>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-search-panel
            [visible]="true"
            [width]="240"
            placeholder="{{ 'SearchPanelPlaceholder' | localize }}"
          >
          </dxo-search-panel>
          <dxo-filter-panel [visible]="true">
            <dxo-texts createFilter="{{ 'CreateFilter' | localize }}">
            </dxo-texts>
          </dxo-filter-panel>
          <dxo-filter-builder>
            <dxo-group-operation-descriptions
              and="{{ 'And' | localize }}"
              notAnd="{{ 'NotAnd' | localize }}"
              notOr="{{ 'NotOr' | localize }}"
              or="{{ 'Or' | localize }}"
            ></dxo-group-operation-descriptions>
          </dxo-filter-builder>
          <!-- <dxo-filter-builder-popup [position]="popupPosition"
                  title="{{ 'FilterBuilder' | localize }}">
                  </dxo-filter-builder-popup> -->
          <dxo-filter-builder-popup title="{{ 'FilterBuilder' | localize }}">
          </dxo-filter-builder-popup>

          <!-- <dx-tooltip
            target="#productGroupPanel"
            showEvent="dxhoverstart"
            hideEvent="dxhoverend"
          >
            <div *dxTemplate="let data of 'content'">
              <p>Tooltip content</p>
            </div>
          </dx-tooltip> -->

          <!-- grouping -->
          <dxo-group-panel
          id="productGroupPanel"
            [visible]="true"
            emptyPanelText="{{ 'GroupPanelEmptyText' | localize }}"
          ></dxo-group-panel>
          <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>

          <!-- Grid Summuries-->
          <dxo-summary>
            <dxi-total-item column="id" summaryType="count"> </dxi-total-item>
          </dxo-summary>
        </dx-data-grid>
        <button
          mat-mini-fab
          color="primary"
          class="pull-right"
          (click)="createProduct()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
