<form autocomplete="off" #createProductScrapForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "CreateProductScrap" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>{{ "ProductName" | localize }}</mat-label>
          <mat-select [(ngModel)]="productScrap.product" name="ProductName" required>
            <mat-option *ngFor="let product of products" [value]="product">
              {{ product.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "ScrapTypeName" | localize }}</mat-label>
          <mat-select [(ngModel)]="productScrap.scrapType" name="ScrapTypeName" required>
            <mat-option *ngFor="let scrapType of scrapTypes" [value]="scrapType">
              {{ scrapType.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!createProductScrapForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
