﻿<!-- Search Bar -->
<div class="search-bar">
  <div class="search-icon">
    <i class="material-icons">search</i>
  </div>
  <input matInput type="text" placeholder="START TYPING..." />
  <div class="close-search">
    <i class="material-icons">close</i>
  </div>
</div>
<!-- #END# Search Bar -->

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a
        href="javascript:void(0);"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar-collapse"
        aria-expanded="false"
      ></a>
      <a href="javascript:void(0);" class="bars"></a>
      <a routerLink="/app/home" class="navbar-brand"
        ><i class="fa fa-cubes"></i>{{ "QualityModule" | localize }}</a
      >
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="javascript:void(0);" class="js-search" data-close="true"
            ><i class="material-icons">search</i></a
          >
        </li>
        <topbar-languageswitch></topbar-languageswitch>
        <li>
          <a
            href="javascript:void(0);"
            class="js-right-sidebar"
            data-close="true"
            ><i class="material-icons">more_vert</i></a
          >
        </li>
        <li class="pull-right">
          <a href="javascript:void(0);" [matMenuTriggerFor]="menu"
            ><i class="material-icons">account_circle</i></a
          >
        </li>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>Profile ({{ shownLoginName }})</span>
          </button>
          <button mat-menu-item>
            <mat-icon>lock</mat-icon>
            <span
              ><a [routerLink]="['/app/update-password']">{{
                "UpdatePassword" | localize
              }}</a></span
            >
          </button>
          <button mat-menu-item>
            <mat-icon>input</mat-icon>
            <span
              ><a (click)="logout()">{{ "Logout" | localize }}</a></span
            >
          </button>
        </mat-menu>
      </ul>
    </div>
  </div>
</nav>
