<form autocomplete="off" #editUnitForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "EditUnit" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <mat-form-field>
          <input matInput name="UnitName" [placeholder]="'UnitName' | localize"
          [(ngModel)]="unit.name" required minlength="2" maxlength="64" />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!editUnitForm.form.valid || saving">
      {{ "Save" | localize }}
    </button>
  </div>
</form>