<form autocomplete="off" #createRuleForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "CreateRule" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <mat-form-field>
          <input
            matInput
            name="RuleName"
            [placeholder]="'RuleName' | localize"
            [(ngModel)]="rule.name"
            required
            minlength="2"
            maxlength="64"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="number"
            name="RuleMin"
            [placeholder]="'RuleMin' | localize"
            [(ngModel)]="rule.min"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="number"
            name="RuleMax"
            [placeholder]="'RuleMax' | localize"
            [(ngModel)]="rule.max"
            required
          />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!createRuleForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
