<form autocomplete="off" #createScrapForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "CreateScrap" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <!-- <mat-form-field>
          <mat-label>{{ "ProductScrapName" | localize }}</mat-label>
          <mat-select
            [(ngModel)]="scrap.productScrap"
            name="ProductScrapName"
            required
          >
            <mat-option
              *ngFor="let productScrap of productScraps"
              [value]="productScrap"
            >
              {{ productScrap.scrapType.name }} -
              {{ productScrap.product.name }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-form-field>
          <mat-label>{{ "ProductControlId" | localize }}</mat-label>
          <mat-select
            [(ngModel)]="scrap.productControl"
            name="ProductControl"
            required
          >
            <mat-option
              *ngFor="let productControl of productControls"
              [value]="productControl"
            >
              {{ productControl.id }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="number"
            name="ScrapAmount"
            [placeholder]="'ScrapAmount' | localize"
            [(ngModel)]="scrap.amount"
            required
          />
        </mat-form-field>
     
        <div class="dx-field">
          <dx-drop-down-box
            [(value)]="gridBoxValue"
            valueExpr="id"
            [displayExpr]="gridBox_displayExpr"
            placeholder="'ProductScrapName' | localize"
            [showClearButton]="true"
            [dataSource]="dataSource"
          >
            ​
            <div *dxTemplate="let data of 'content'">
              <dx-data-grid
                [dataSource]="dataSource"
                [columns]="['product.name', 'scrapType.name']"
                [selection]="{ mode: 'single' }"
                [hoverStateEnabled]="true"
                [paging]="{ enabled: true, pageSize: 10 }"
                [filterRow]="{ visible: true }"
                [scrolling]="{ mode: 'infinite' }"
                [(selectedRowKeys)]="gridBoxValue"
                height="100%"
              >
              </dx-data-grid>
            </div>
          </dx-drop-down-box>
        </div>

        ​
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!createScrapForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
